{
  "extends": "@nuxtjs/eslint-config-typescript",
  "rules": {
    "import/default": "off",
    "import/no-named-as-default-member": "off",
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
